backend/db.sqlite3
backend/models/archive/
backend/models/IsolationForest.py
backend/models/fraudTest.csv
backend/models/fraudTrain.csv
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/coverage
frontend/build
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
*.pyc
*__pycache__*

backend/models/mlruns/*
!backend/models/mlruns/models
backend/models/mlruns/models/*
!backend/models/mlruns/models/default-IF
!backend/models/mlruns/models/default-NN
!backend/models/mlruns/models/default-XG

backend/models/encoders/*
!backend/models/encoders/default-IF-encoder.pickle
!backend/models/encoders/default-NN-encoder.pickle
!backend/models/encoders/default-XG-encoder.pickle

backend/models/mlartifacts/0/*
!backend/models/mlartifacts/0/1df657ece9d841aea3be7eccfa122047
!backend/models/mlartifacts/0/d5449ca856b24982864eb3fa0f13895b
!backend/models/mlartifacts/0/88070b5d197c4ff1ad40cfdc58e1fc64

backend/models/scalers/*
!backend/models/scalers/default-NN-scaler.pickle