backend/db.sqlite3
backend/models/archive/
backend/models/IsolationForest.py
backend/models/fraudTest.csv
backend/models/fraudTrain.csv
frontend/node_modules
frontend/.pnp
frontend/.pnp.js
frontend/coverage
frontend/build
frontend/.DS_Store
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
*.pyc
*__pycache__*

backend/models/mlruns/*
!backend/models/mlruns/models
backend/models/mlruns/models/*
!backend/models/mlruns/models/default-IF
!backend/models/mlruns/models/default-NN
!backend/models/mlruns/models/default-XG

backend/models/encoders/*
!backend/models/encoders/default-IF-encoder.pickle
!backend/models/encoders/default-NN-encoder.pickle
!backend/models/encoders/default-XG-encoder.pickle