.dashboard-container {
    grid-area: main;
    padding: 10px;
    width: calc(100% - 20px);
    margin: auto;
}
  
.dashboard-title {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 20px;
}
